body{
     background-image: url("portfolio.jpg");
    background-size: cover;
}
.contact-section {
  margin-top: 100px;          
  text-align: center;
  padding: 40px 20px;
}

.contact-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.contact-text {
    width: 650px;
  font-size: 18px;
  color: black
  max-width: 600px;
  margin: 0 auto 40px;
  line-height: 1.6;
}

.contact-details {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}
