body{
  background-image: url("portfolio.jpg");
  background-size: cover;
  background-position: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.logo {
    font-size: 25px;
    font-family: serif;
    color: darkslategray;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 60px;
}

.nav-links a {
    text-decoration: none;
    color: darkslategray;
    font-size: 13px;
    margin-left: 20px;
    font-family: sans-serif;
}

/* Main Section */
.main-section {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

/* Section Titles */
.section-title {
    margin-bottom: 20px;
    font-size: 22px;
}

/* Card Design */
.card {
    background: white;
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
}

.uni {
    font-weight: bold;
    margin-bottom: 5px;
}

.date {
    color: gray;
    margin-bottom: 15px;
}

.card ul {
    padding-left: 20px;
}

.card ul li {
    margin-bottom: 8px;
}

